:root { 
--gray_600:#858585; 
--gray_51:#f2f6ff; 
--blue_A700:#0068ff; 
--blue_600:#2680e9; 
--bluegray_100:#cfcece; 
--black_900_a9:#000000a9; 
--gray_50:#f4f8fd; 
--black_900_87:#00000087; 
--yellow_300:#f6e06b; 
--indigo_102:#b0c2ef; 
--black_900_65:#00000065; 
--indigo_100:#cbd6f0; 
--indigo_101:#afc2ef; 
--black_900:#000000; 
--bluegray_401:#74839d; 
--bluegray_400:#868686; 
--bluegray_200:#bac1ce; 
--bluegray_101:#d9d9d9; 
--white_A700:#ffffff; 
--gray_700_11:#55555511; 
}